/* Reset box sizing */
* {
    box-sizing: border-box;
  }
  
  /* Body styles */
  body {
    font-size: 14px;
  }
  
  /* Class v1_2 */
  .v1_2 {
    width: 100%;
    height: 1024px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  
  /* Class v2_6 */
  .v2_6 {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(255, 252, 180, 1), rgba(187, 222, 255, 1));
    opacity: 1;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  
  /* Class v4_5 */
  .v4_5 {
    width: 731px;
    color: rgba(56, 107, 155, 1);
    position: absolute;
    top: 324px;
    left: 42px;
    font-family: Poppins;
    font-weight: bold;
    font-size: 100px;
    opacity: 1;
    text-align: left;
  }
  
  /* Class v4_14 */
  .v4_14 {
    width: 731px;
    color: rgba(56, 107, 155, 0.19);
    position: absolute;
    top: 346px;
    left: 421px;
    font-family: Poppins;
    font-weight: bold;
    font-size: 125px;
    opacity: 1;
    text-align: left;
  }
  
  /* Class v4_7 */
  .v4_7 {
    width: 622px;
    color: rgba(0, 12, 20, 1);
    position: absolute;
    top: 524px;
    left: 62px;
    font-family: Roboto;
    font-weight: regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  
  /* Class v4_8 */
  .v4_8 {
    width: 129px;
    height: 40px;
    background: rgba(255, 252, 180, 0.5);
    opacity: 1;
    position: absolute;
    top: 654px;
    left: 328px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow: hidden;
  }
  
  /* Class v4_9 */
  .v4_9 {
    width: 58px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 662px;
    left: 369px;
    font-family: "Roboto Flex";
    font-weight: regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  
  /* Class v4_11 */
  .v4_11 {
    width: 100%;
    height: 106px;
    background: rgba(43, 92, 127, 1);
    opacity: 1;
    position: relative;
    top: 0;
    left: 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  /* Class v14_3 */
  .v14_3 {
    width: 40px;
    height: 69px;
    background: url("../images/v14_3.png") center/cover no-repeat;
    opacity: 1;
    position: absolute;
    top: 19px;
    left: 22px;
    overflow: hidden;
  }
  
  /* Class v4_3 */
  .v4_3 {
    width: 54px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 50px;
    left: 284px;
    font-family: Roboto;
    font-weight: medium;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  
  /* Class v2_10 */
  .v2_10 {
    width: 71px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 50px;
    left: 33px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  
  /* Class v2_9 */
  .v2_9 {
    width: 71px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 26px;
    left: 71px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 26px;
    opacity: 1;
    text-align: left;
  }
  
  /* Class v4_13 */
  .v4_13 {
    width: 37px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 50px;
    left: 150px;
    font-family: Roboto;
    font-weight: medium;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  
  /* Class v19_30 */
  .v19_30 {
    width: 454px;
    height: 717px;
    background: rgba(255, 252, 180, 0.5);
    opacity: 1;
    position: absolute;
    top: 736px;
    left: 376px;
    transform: rotate(-44deg);
    box-shadow: -8px 8px 24px rgba(0, 0, 0, 0.25);
  }
  
  